:root {
  --color-fm-yellow: #fbd600;
  --color-fm-red: #fe7766;

  --color-fm-text: #5b636d;
  --color-fm-text-grey: #808397;
  --color-fm-text-lightgrey: #a7aaad;
  --color-fm-text-green: #24554a;
  --color-fm-text-lightgreen: #90d4c6;
  --color-fm-text-mediumgreen: #458d7e;
  --color-fm-text-blue: #19536c;

  --font-barlow: Barlow, serif;
  --font-fraunces: Fraunces, serif;
}

.header--bg {
  background-image: url("../images/mobile/image-header.jpg");
}

.nav-hamburger {
  content: "";
  display: block;
  height: 18px;
  width: 24px;
}

#nav-open:target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 6.625em;
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 2.375em 0;
}
#nav-open:target::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  width: 24px;
  height: 24px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  transform: translateY(-24px);
}

#nav-open li {
  font-family: var(--font-barlow);
  border-radius: 2em;
  padding: 1em 2em;
}
#nav-open li:hover {
  border-radius: 2em;
  background: var(--color-fm-yellow);
  padding: 1em 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-fraunces);
}
#nav-close-btn {
  display: none;
}

#nav-open:target ~ #nav-open-btn {
  display: none;
}
#nav-open:target ~ #nav-close-btn {
  display: block;
}

.fraunces {
  font-family: var(--font-fraunces);
}
.barlow {
  font-weight: 600;
  font-family: var(--font-barlow);
}
.fm-text {
  color: var(--color-fm-text);
}
.fm-text--grey {
  font-size: 18px;
  color: var(--color-fm-text-grey);
}
.fm-text--green {
  color: var(--color-fm-text-green);
}
.fm-text--blue {
  color: var(--color-fm-text-blue);
}
.fm-text--lightgrey {
  color: var(--color-fm-text-lightgrey);
}
.fm-text--lightgreen {
  color: var(--color-fm-text-lightgreen);
}
.fm-text--mediumgreen {
  color: var(--color-fm-text-mediumgreen);
}

.bg-egg {
  background-image: url("../images/mobile/image-transform.jpg");
}
.bg-glass {
  background-image: url("../images/mobile/image-stand-out.jpg");
}
.bg-cherry {
  background-image: url("../images/mobile/image-graphic-design.jpg");
}
.bg-orange {
  background-image: url("../images/mobile/image-photography.jpg");
}

.gallery {
  height: 100vw;
}
.bg-milk {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}
.bg-orange-gal {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}
.bg-cone {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}
.bg-sugar {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

.bg-fm--lightgreen {
  background: var(--color-fm-text-lightgreen);
}

.sunnyside--green path {
  fill: var(--color-fm-text-green);
}

.learnmore {
  font-family: var(--font-fraunces);
  font-weight: 900;
}
.learnmore--yellow::after {
  content: "";
  border-radius: 10px;
  opacity: 0.25;
  display: block;
  position: relative;
  height: 10px;
  width: 137px;
  background: var(--color-fm-yellow);
  left: calc(50% - 69px);
  transform: translateY(-0.7em);
  z-index: -10;
}
.learnmore--red::after {
  content: "";
  border-radius: 10px;
  opacity: 0.25;
  display: block;
  position: relative;
  height: 10px;
  width: 137px;
  background: var(--color-fm-red);
  left: calc(50% - 69px);
  transform: translateY(-0.7em);
  z-index: -10;
}

.social-icon:hover path {
  fill: white;
}

@media only screen and (min-width: 640px) {
  .header--bg {
    background-image: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .nav-hamburger {
    display: none;
  }

  #nav-open {
    background: none;
  }

  #nav-open li {
    font-weight: normal;
    color: #fff;
  }
  #nav-open li:hover {
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
  }

  .bg-egg {
    background-image: url("../images/desktop/image-transform.jpg");
  }
  .bg-glass {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
  .bg-cherry {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .bg-orange {
    background-image: url("../images/desktop/image-photography.jpg");
  }

  .gallery {
    height: 447px;
  }
  .bg-milk {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  }
  .bg-orange-gal {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
  }
  .bg-cone {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
  }
  .bg-sugar {
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }
}
